/* src/components/MainChatArea.css */
.main-chat-area {
    background-color: #444;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 4rem;
    left: 280px;
    right: 200px;
    bottom: 0;
    overflow: auto;
  }
  