/* src/components/ServerList.css */
.server-list {
    background-color: #222;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 80px;
  }
  