/* src/components/ChannelList.css */
.channel-list {
    background-color: #111;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 4rem;
    left: 80px;
    bottom: 0;
    width: 200px;
  }
  